script.
  /* google analytics */
  window.ga = window.ga || function() {
      (ga.q = ga.q||[]).push(arguments);
  };
  ga.l = +new Date;
  // fill in analytics
  ga("create", "", "auto");
  ga("send", "pageview");
script(async src="https://www.google-analytics.com/analytics.js")
