head
  title  Days
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-title', content='Days')
  meta(name='apple-mobile-web-app-status-bar-style', content='white-translucent')
  meta(name='theme-color', content='')
  link(rel='stylesheet', href='/src/css/index.css')
  meta(property='og:url', content='https://days.rocks/')
  meta(property='og:type', content='website')
  meta(property='og:title', content='Days')
  meta(property='og:description', content='keep your ...')
  meta(property='og:image', content='https://days.rocks/')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@days_rocks_app')
  meta(name='twitter:title', content='Days')
  meta(name='twitter:description', content='keep your ...')
  meta(name='twitter:image', content='https://days.rocks/')
  link(rel='apple-touch-icon', href='/')
  link(rel='icon', type='image/png', href='/')
