head
  title Todo: fill in head.pug
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-title', content='Some Page')
  meta(name='apple-mobile-web-app-status-bar-style', content='white-translucent')
  meta(name='theme-color', content='')
  link(rel='stylesheet', href='/src/css/index.css')
  meta(property='og:url', content='')
  meta(property='og:type', content='website')
  meta(property='og:title', content='Some Page')
  meta(property='og:description', content='')
  meta(property='og:image', content='')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@')
  meta(name='twitter:title', content='Some Page')
  meta(name='twitter:description', content='')
  meta(name='twitter:image', content='')
  link(rel='apple-touch-icon', href='')
  link(rel='icon', type='image/png', href='')
